.app {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 250px 1fr 350px;
  overflow: hidden;

  &__topics {
    background: #F6F7F9;
    display: flex;
    flex-direction: column;

    &__header {
      display: flex;
      flex: 0 0 200px;
      align-items: center;
      justify-content: center;
      img {
        height: 120px;
      }
    }
    &__list {
      list-style: none;
      flex: 1;
      overflow: auto;
      padding: 0 20px;

      &__topic {
        display: block;

        a {
          display: block;
          color: #666;
          border-bottom: 1px solid #e7e8e9;
          padding: 20px;
          text-decoration: none;
        }
      }
    }
  }
  &__docs {
    overflow: auto;
    padding-top: 0;
  }
  &__console {
    background: #212121;
    color: #fff;
    padding: 20px;
  }
}
