<article class="app">
  <aside class="app__topics">
    <header class="app__topics__header">
      <img src="/assets/img/rxjs.png" alt="rxjs logo">
    </header>
    <ul class="app__topics__list">
      <li class="app__topics__list__topic" *ngFor="let topic of topics">
        <a [routerLink]="topic.path">{{ topic.title }}</a>
      </li>
    </ul>
  </aside>
  <div class="app__docs markdown-body">
    <router-outlet></router-outlet>
  </div>
  <aside class="app__console">
    <code>$: waiting for code execution...</code>
    <code></code>
  </aside>
</article>
